* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.custom-search .ant-input {
  padding: 15px;
  height: 40px; 
  border-radius: 50px; 
}

.custom-search .ant-btn {
  padding: 0 20px; /* Adds padding inside the button */
  height: 40px; /* Matches the input box height */
  border-radius: 20px; /* Rounds button corners */
}

.custom-search .ant-input::placeholder {
  color: black;
  opacity: 0.5;
  font-size: 14px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.show {
  animation: fadeIn 3s ease-in-out forwards;
}

.timeData_mainBox {
  border: 4px solid red;
  position: absolute;
  top: 40%;
  left: 1/2;
  border-radius: 50px;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 400px) {
  .TopBar {
    border: 4px solid blue !important;
    display: flex !important;
    flex-direction: column !important;
  }
}


@media only screen and (max-width: 300px) {
  .timeData_mainBox {
    top: 40%;
  }
}

 @media only screen and (min-width: 350px) {
  .timeData_mainBox {
    top:47%;
  }
}